*{
    margin: 0;
  padding: 0;
  border: 0;
  font-size: 100vh;
  font: inherit;
  vertical-align: baseline;
}


#fileList{
  position: fixed;
}

.tp-rotv{
  position: fixed;
  right: 5px;
  top: 60px;
  width: 300px;
}

#canvasWrapper{
  width: calc(100vw - 305px);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

